[submodule "Carthage/Checkouts/RxBluetoothKit"]
	path = ios/Sources/BleClientManager/Carthage/Checkouts/RxBluetoothKit
	url = https://github.com/doozMen/RxBluetoothKit.git
[submodule "Carthage/Checkouts/RxSwift"]
	path = ios/Sources/BleClientManager/Carthage/Checkouts/RxSwift
	url = https://doozMen@github.com/doozMen/RxSwift.git
